.boxed-view{
    align-items: center;
    justify-content: center;
    background:$box-view-overlay-bg;
    height: 100vh; 
    width:100vw;
    display: flex;
}

.boxed-view__box{
    background-color: $boxed-view-bg;
    padding:2.4rem;
    text-align: center;
    width: 24rem;

}


.boxed-view__form{
    display: flex;
    flex-direction: column;
}